{% extends 'index.html' %}


{% block title %}
  معرفی باغ فردوس
{% endblock %}
  



{% block mainTemplate %}
        {% include 'partials/messages.html' %}
        <section class="mt-3 ">
          
          <div class="container ">
            <img class="border border-secondary img-fluid mx-auto d-block" src="{{media_url}}photos/area/header_introduction2.jpg" alt="">
            
            <p class="mt-3">
              باغ فردوس را به چشم یک بنای تاریخی عادی نگاه نکنید، البته که می‌دانم این همه زیبایی عادی نیست اما منظورم چیز دیگری است. باغ فردوس نسبت به خیلی از بناهای تاریخی سن‌وسال زیادی ندارد اما سرگذشتش سر دراز دارد؛ آ‌ن‌قدر مثل سیب از درخت افتاده چرخیده و چرخیده تا اینکه بالاخره در وضعیتی که حالا می‌بینیمش آرام گرفته است.

در دوره قاجار و در سال 1264 ه.ق محمدشاه قاجار دستور ساخت قصر بزرگی را در منطقه محمدیه صادر کرد. ساخت این قصر با دو عمارت شمالی و جنوبی در مساحتی نزدیک به 20هزار مترمربع توسط صدراعظم شاه، حاجی میرزا آقاسی آغاز شد اما به‌علت بیماری محمدشاه قاجار و مرگ وی، ساخت قصر نیمه‌تمام باقی ماند. در حال حاضر عمارت شمالی به‌طور کامل از بین رفته اما عمارت جنوبی باقی مانده است.

در همان دوران قاجار، ناصرالدین شاه باغ فردوس را به‌عنوان هدیه عروسی به دختر و دامادش، حسین‌علی‌خان معیرالممالک سپرد. حسین‌علی‌خان ساختمان نیمه‌کاره را با سبک معماری قاجاریه که به فیل‌گوش معروف است، تکمیل کرد و جشن عروسی خود را هم در همین باغ برگزار کرد. وجه تسمیه باغ فردوس را می‌توان قنات فردوس دانست که آب این محل و آبادی‌ باغ‌های اطراف را تامین می‌کرده است.
در مرحله بعدی، باغ فردوس به دوست‌علی‌خان نظام‌الدوله، پسر حسین‌علی‌خان رسید. او با همراهی معماران بی‌نظیر یزد و اصفهان بنایی در بخش جنوبی باغ ساخت که با نام (رشک بهشت) شناخته می‌شد. رشک بهشت، عمارتی با پلکانی مرمرین بود که در ساخت بخش‌های مختلف آن از مرمر اعلای یزد استفاده شده بود و تماشای دیواره‌های داخلی آن که از کاغذهای برجسته طلایی پوشیده شده بود، چشم هیچ بیننده‌ای را از زیبایی سیر نمی‌کرد.

            </p>

          </div>

        </section>

        <section class="mt-2">

          <div class="container">

            <div class="jumbotron mb-4 border border-danger">
              <h1 class="display-4">بخش های باغ</h1>
              <p class="lead">در این قسمت شما با بخش ها و مکان های باغ آشنا می شوید</p>
              <hr class="my-4">
              <p class="lead">
                <a class="btn btn-primary btn-lg m-3" href="{% url 'introductionparts' %}" role="button" target="_blank">کلیک کنید</a>
              </p>
            </div>


          <div class="jumbotron mb-4 border border-danger">
            <h1 class="display-4">مسیر بازدید</h1>
            <p class="lead">در این قسمت شما می توانید مسیر بازدید از باغ را در غالب یک فایل پی دی اف دانلود کنید</p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg m-3" href="{% url 'introduction_pdfdownload' %}" role="button">دانلود</a>
            </p>
          </div>

          <div class="jumbotron mb-4 border border-danger">
            <h1 class="display-4">برنامه و قوانین</h1>
            <p class="lead">برای اطلاع از برنامه بازدید و قوانین باغ فردوس تهران روی لینک زیر کلیک کنید</p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg m-3" href="{% url 'introduction_schedulecondition' %}" role="button" target="_blank">کیلیک کنید</a>
            </p>
          </div>


          </div>



        </section>




{% endblock %}
