{% extends 'index.html' %}


{% block title %}
  مکان های باغ فردوس
{% endblock %}
  


{% block mainTemplate %}


{% for place in places %}
    <div class="container mt-2 mb-3 place-parts">
  
        <div class="mt-2" >
            <h2>
                  {{place.place_name}}   
            </h2>

            <img src="{{media_url}}/{{place.place_image_name}}" alt="{{place.place_image_name}}" class="mt-5 mb-5 mx-auto d-block" style="width:600px; height:400px;">

            <p class="lead mt-2 mb-2 me-4">
                {{place.description}}
            </p>
            <button class="btn-place-parts mt-4 mb-3 mx-4">
                <a href="{% url 'introduction_partdetail' place.id %}">مشاهده جزئیات مکان</a>
            </button>
        </div>  
        <hr>
    </div>    
          
{% endfor %}


{% endblock %}