{% extends 'index.html' %}

{% block title %}
  جزئیات مکان
{% endblock %}
  

{% block mainTemplate %}

<div class="container mt-4 mb-3 d-flex justify-content-center place-part-detail">

  
  <div class="mt-2" >
      <h2 class="mb-3 mt-3 d-flex justify-content-center">
            {{place.place_name}}  
      </h2>
      <span class="d-flex d-inline justify-content-between mt-5 mb-5">
        <h5>{{place.visit_date_day}}</h5>&nbsp;&nbsp;&nbsp;&nbsp;
        <h5>{{place.visit_time}}</h5>
      </span>


      <figure class="mb-4"><img class="img-fluid rounded mx-auto d-block mt-5 mb-5" src="{{media_url}}/{{place.place_image_name}}" alt="{{place.place_image_name}}" style="width:900px; height:600px;"/></figure>

      <p class="lead mt-5 mb-4 me-4">
          {{place.description}}
      </p>
      
  </div>  
  
</div>   


{% endblock %}
