<footer style="background-color: #eee6d3;">
    <div class="container">

      <div class="row">

        <div class="col-6 mt-4">
          <a href="#">گزارش کارگاه های آموزش</a> <br>
          <a href="#">خاطرات بازدید</a><br>
          <a href="#">اخبار</a><br>
          <a href="#">مقالات</a><br>
          <a href="#">درباره ما</a>
        </div>
<!-- _________________________________________________________________________________ -->
        <div class="col-4 mt-2 mb-3">
          <div class="row">
            
            <div class="col">
              <h3>آدرس</h3>
              <p>
                تهران، خیابان ولیعصر، نرسیده به میدان تجریش، کوچه بخشایش، باغ موزه فردوس
              </p>
              <h5>
                تماس با ما :
              </h5>
              <p>۹-۲۲۷۰۵۰۰ </p>
            </div>
<!-- _________________________________________________________________________________ -->
    
        <div class="col-2 me-5">
          <iframe class="border border-danger" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3235.891536511599!2d51.41980081511503!3d35.80259598016616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e060fbf0d4417%3A0x60df446d30ebe981!2sFerdows%20Garden!5e0!3m2!1sen!2s!4v1659599630995!5m2!1sen!2s" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

          </div>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <!-- Copyright -->
      © 2022 Copyright:
      <a class="text-dark" href="#">OmidHosseini</a>
    </div>

</footer>
  






























