

.b-form {
    border: 0.2mm ridge #f9dd53e4 !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 2px 1px 1px rgb(134, 132, 132) !important;
    background-color: #c6c9c945 !important;
}

.b-form div label > i {
    color: #01afae !important;
}