/* Style the search field */
form.search_form input[type=text] {
  padding: 10px;
  font-size: 16.5px;
  border: 1px solid grey;
  float: left;
  width: 95%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search_form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #01afae;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search_form button:hover {
  background: #3fa046;
}

/* Clear floats */
form.search_form::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown-menu {
  text-align: start !important;
  float: right !important;
  left: initial !important;
  right: 0 !important;
}

 