html,
body,
.intro {
  height: 100%;
  
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card_table {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
  background-color: #01afae;
}


/* terms condtion stye */
.terms_condition_style{
  
  border: 0.1mm solid #000000d6;
  border-radius: 3px;
  box-shadow: 4px 5px 5px rgb(127, 126, 126);
  background-color: #c6c9c945 !important;
}

.img-placepart{
  width: 600px;
  height: 400px;
}