{% extends 'index.html' %}

{% block title %}
  کارگاه های آموزشی
{% endblock %}


{% block mainTemplate %}
 
        
<!-- post section -->

<section class="container mb-4 mt-5">
  <div class="container"> 
    {% for workshop in workshops %}
      
            <div>
              <div class="row">
                  <div class="col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
                      <img src="{{media_url}}{{workshop.image_name}}" alt="{{workshop.title}}" class="img-cardBlog">
                  </div>
                  <div class="col">
                      <div class="card d-flex justify-content-start bg-opacity-25 bg-secondary cardBlog">
                          <div class="card-body">
                            <h3 class="card-title">{{workshop.title}}</h3>
                            <br/>
                            <div class="mb-1">
                              <span class="badge rounded-pill text-bg-info">
                                  <i class="fa fa-calendar" aria-hidden="true"></i>
                                  تاریخ انتشار:
                                  <span>{{workshop.date_time}}</span>
                              </span>
                            </div>
                            <div class="mb-1">
                              <span class="badge rounded-pill text-bg-info">
                                <i class="fa-regular fa-g"></i>
                                  مکان برگزاری:
                                  <span>{{workshop.places}}</span>                                 
                              </span>
                            </div>
                            <div class="mb-1">
                              <span class="badge rounded-pill text-bg-info">
                                <i class="fa-regular fa-g"></i>
                                  مدرس دوره:
                                  <span>{{workshop.teacher}}</span>                                
                              </span>
                            </div>
                            <h3>اطلاعات بیشتر</h3>
                            <p class="card-text lead text-end">{{workshop.information}}</p>
                            <h4>شرایط ثبت نام</h4>
                            <p class="card-text lead text-end">{{workshop.registration}}</p>
                            
                            {% if workshop.status_id == 3 %}                            
                              <a href="{% url 'workshop_report' workshop.id %}" class="btn btn-primary">مشاهده گزارش کارگاه</a>
                            {% endif %}
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
                
      <hr class="hr_style">  

    {% endfor %}
      

  </div>
</section>

<!-- _______________________________________________________________________________________________________ -->

    <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">

      <!--Previous-->
      {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
              {% endif %}
      <!-- Previous-->

      <!--Hellip-->
      {% if page_obj.number|add:'-4' > 1 %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
      {% endif %}

  <!--Pager-->
  {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
          <li class="page-item active" aria-current="page">
              <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
              </span>
          </li>
      {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
  {% endfor %}
  <!--end Pager__>

  <!Hellip-->
  {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
  {% endif %}
  <!end Hellip -->

  <!--Next-->
  {% if page_obj.has_next %}
      <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
      </li>
  {% else %}
      <li class="page-item-disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="True">بعدی</a></li>
  {% endif %}
  <!--end Next-->
  </ul>
  </nav>

  <!-- end of pagination -->

{% endblock %}
