
<footer class="bg-light text-center" style="margin-top: auto">
    Grid container -->
   <div class="container p-4 pb-4">
     <!-- Section: Form -->
     <section class="">
       <form action="">
         <!--Grid row-->
         <div class="row d-flex justify-content-center">
           <!--Grid column-->
           <div class="col-auto">
             <p class="pt-1">
               <strong>Sign up for our newsletter</strong>
             </p>
           </div>
           <!--Grid column-->
 
           <!--Grid column-->
           <div class="col-md-5 col-12">
             <!-- Email input -->
             <div class="form-outline mb-4">
               <input type="email" id="form5Example27" class="form-control" />
               <label class="form-label" for="form5Example27">Email address</label>
             </div>
           </div>
           <!--Grid column-->
 
           <!--Grid column-->
           <div class="col-auto">
             <!-- Submit button -->
             <button type="submit" class="btn btn-primary mb-4">
               Subscribe
             </button>
           </div>
           <!--Grid column-->
         </div>
         <!--Grid row-->
       </form>
     </section>
     <!-- Section: Form -->
   </div>
   <!-- Grid container -->
 
   <!-- Copyright -->
   <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     © 2022 Copyright:
     Omidhosseini
   </div>
   <!-- Copyright -->
 </footer>










 btn

 <button type="button" class="btn mb-2 mb-md-0 btn-fb">
  <i class="ion-logo-facebook mr-1"></i> Share - 8.2k
</button>
<button type="button" class="btn mb-2 mb-md-0 btn-outline btn-fb">
  <i class="ion-logo-facebook mr-1"></i> Share - 8.5k
</button>