{% extends 'index.html' %}


{% block title %}
  معرفی باغ فردوس
{% endblock %}
  



{% block mainTemplate %}


<!-- post section -->

<section class="container mb-4 mt-5">
    <div class="container"> 
      {% for article in articles %}
        {% if article.is_active == True %}
              <div>
                <div class="row">
                    <div class="col-lg-4 col-sm-12 d-flex justify-content-center align-items-center">
                        <img src="{{media_url}}{{article.image}}" alt="this is photo" class="img-cardBlog">
                    </div>
                    <div class="col">
                        <div class="card d-flex justify-content-start bg-opacity-25 bg-secondary cardBlog">
                            <div class="card-body">
                              <h3 class="card-title">{{article.title}}</h3>
                              <br/>
                              <div class="mb-1">
                                <span class="badge rounded-pill text-bg-info">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    تعداد بازدید:
                                    <span>{{article.view_number}}</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
                                </span>
                                <span class="badge rounded-pill text-bg-info">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                    تاریخ انتشار:
                                    <span>{{article.register_date}}</span>
                                </span>
                              </div>
                              <div class="mb-1">
                                <span class="badge rounded-pill text-bg-info">
                                  <i class="fa-regular fa-g"></i>
                                    گروه:
                                    <span>{{article.group}}</span>
                                   
                                </span>
                              </div>
                            
                          <div class="mb-1">
                            <span class="badge rounded-pill text-bg-info">
                              <i class="fa fa-users" aria-hidden="true"></i>
                              نویسندگان:
                                {% for i in article_author %}                                 
                                    {% if i.article_id == article.id %}                                     
                                        {% for author in authors %}                                         
                                            {% if author.id == i.author_id %}                                      
                                                      <span>{{author.name}} {{author.family}}  &nbsp;&nbsp;&nbsp;&nbsp; </span>                                        
                                            {% endif %}
                                        {% endfor %}               
                                    {% endif %}
                                {% endfor %}
                            </span>
                          </div>
                              <p class="card-text lead text-end">{{article.short_text}}</p>
                              <a href="{% url 'ArticleDetail' article.slug %}" class="btn btn-primary">ادامه ی مطلب</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
                  
        <hr class="hr_style">  

      {% endfor %}
        

    </div>
</section>

{% endblock %}